/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  background: var(--ifm-footer-background-color);
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.body {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.linkCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.linkCard {
  border-radius: 8px;
  padding: 1.1rem;
  transition: all 0.3s;
  border: 1px solid var(--ifm-color-emphasis-300);
  margin: 0.5rem;
  text-decoration: none;
  color: inherit;
  display: block;
}

.linkCard:hover {
  background-color: var(--ifm-background-surface-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-emphasis-800);
}

.photoCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  gap: 1rem;
}

.photoCard {
  background-color: var(--ifm-background-surface-color);
  border-radius: 1rem;
  border: 1px solid var(--ifm-color-emphasis-300);
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.photoCard:hover {
  transform: translateY(-5px);
  border: 1px solid var(--ifm-color-primary);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--ifm-color-emphasis-800);
}

.photoCard img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.photoCardContent {
  padding: 1rem;
}

.photoCard h3 {
  margin-bottom: 0.5rem;
}