.card {
    border: 1px solid var(--ifm-color-emphasis-300);
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--ifm-font-color-base);

    @media(min-width: 997px) {
        padding-left: 1rem;
    }
}

.card:hover {
    border: 1px solid var(--ifm-color-primary);
    color: var(--ifm-color-emphasis-800);
}

.content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid var(--ifm-color-emphasis-300);
}

.info {
    flex: 1;
}

.name {
    margin: 0 0 8px 0;
}

.line {
    margin: 0.2rem 0.4rem;
    color: var(--ifm-color-emphasis-800);
}